<script type="text/javascript" id="list-template">
  <div class="span4 list-container">
    <div class="list-title">
      <input class='toogle' type="checkbox" <%%= completed? 'checked="checked"':'' %>/>
      <%%= title %>
      <span id='list-delete'><i class='icon-trash icon-white'></i></span>
    </div>
    <div class="list-body">
      <ul class="tasks">
      <%% _.each(tasks, function(task){ %>
          <li><%%= task.content %></li>
      <%% }); %>
      </ul>
    </div>
  </div>
</script>