<% provide(:title, 'Save Tasks') %>


<% if signed_in? %>
    <%= render 'layouts/list' %>
<% else %>
    <div class="center hero-unit">
        <h1>Woo Do | <span>Save Tasks</span</h1>
        <h2>Sign up and save loads of time from remembering tasks.</h2>
        <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-large" %>
    </div>
<% end %>
