@import "bootstrap";

/* universal */
html {
        overflow-y: scroll;
}

body {
    padding-top: 60px;
}

.center{
    text-align: center;
    margin: 0 auto;
}

/*Container Home*/

h1{
    font-family: Arial, sans-serif;
}

/*Signup Errors*/

.error-explanation{
    ul{
        text-align: left;
        li{
            list-style-type: none;
            color: #f00;
        }
    }
}

/*Task Creator*/

.task-creator{
    margin-top: 20px;
}


/*Lists*/
.lists{
    margin: 10px 0; 
    list-style-type: none;
    position: relative;
    .list-container{
        width: 30%;
        height: 300px;
        border-radius: 7px;
        box-shadow:inset 0px 0px 5px 5px #ccc;
        margin: 40px 10px;
        .list-title{
            padding: 20px 0;
            font-size: 30px;
            color: #fff;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
            background-color: #000;
            span{
                float: right;
                font-size: 16px;
                margin: 0 5px;
            }
        }
        .list-body{
            ul{
                list-style-type: none;
                margin: 0px;
                li{
                    margin: 3px 20px;
                    text-align: left;
                    border-bottom: 1px solid #111;
                    span{
                        float: right;
                        margin: 0 5px;
                    }
                }
            }
            .completed{
                bottom: 0px;
                color: green;
                font-weight: bold
            }
        }
    }
}
