@import "bootstrap";

/* universal */
html {
        overflow-y: scroll;
}

body {
    padding-top: 60px;
    background-image: url('../images/tick.png');
}

.center{
    text-align: center;
    margin: 0 auto;
}

/*Header*/

.nav li a img{
    margin: 0 7px;
}

/*Container Home*/

.container{   
}

h1{
    font-family: Arial, sans-serif;
}

/*Signup Errors*/

.error-explanation{
    ul{
        text-align: left;
        li{
            list-style-type: none;
            color: #f00;
        }
    }
}

/*Task Creator*/

.task-creator{
    margin-top: 20px;
}


/*Lists*/
#lists{
    margin: 10px 0; 
    list-style-type: none;
    .list-container{
        width: 30%;
        height: 300px;
        border-radius: 7px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #f5f5f5;
        margin: 40px 10px;
        position: relative;
        .list-title{
            padding: 20px 0;
            font-size: 30px;
            color: #fff;
            background-color: #454545;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
            #list-toogle{
                position: absolute;
                top: 20px;
                left: 20px;
            }
            #list-delete{
                position: absolute;
                margin: 4px 0px;
                top: 20px;
                right: 20px;
            }
        }
        .list-body{
            ul{
                list-style-type: none;
                margin: 0px;
                .incomplete{
                    #task-content{
                        color: #000;
                        text-decoration: none;
                    }
                }
                .complete{
                    #task-content{
                        color: #999;
                        text-decoration: line-through;
                    }
                }
                li{
                    margin: 3px 20px;
                    text-align: left;
                    border-bottom: 1px solid #111;
                    #task-toogle{
                        margin-bottom: 5px;
                    }
                    #task-content{
                        display: inline;
                        margin: 5px 0px;
                        width: 80%;
                    }
                    span{
                        float: right;
                        margin: 0 5px;
                    }
                }
            }
        }
        .list-footer{
            position: absolute;
            bottom: 0px;
            width:100%;
        }
    }
    #list_id{
        display: inline;
    }
    #task_order_number{
        display: inline;
    }
}
