<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Woo Do</a>
            <button href="#" type="button" class="btn btn-primary pull-right">Sign in</button> 
        </div>
    </div>
</div>
