<div class="row">
    <div id="show-error"> </div>
    <%= form_for @task, :remote => true, :html => { :class => "form-inline task-creator" } do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_field :content, class: "input-xlarge"  %>
            <%= f.submit "Create", class: "btn"  %>
    <% end %>
</div>
